body{
	margin:40px auto;
	max-width:650px;
	line-height:1.6;
	color:#444;
	padding:0 10px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 125%;
}

h1, h2, h3{
	line-height:1.2;
	font-size: 150%;
	font-weight: 400;
}

li {
	color: #006fff;
	cursor: pointer;
	text-decoration: none;
	list-style: none;
}


.album {
	list-style: none;

}
